<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>https:mon.clinique@tech.td</title>

	<link rel="stylesheet" href="style.css">
</head>
<body>
	
	{%extends 'medecines/layout.html' %}

	{%block content%}
		<center>

			<h1> WELCOM AT MODERN CLINIC  </h1>

			<style>
				body {
					background: #106d6d;
				}
			</style>

			<div id="caroussel" >
				<div class="home">
			
					<img src="/home/fermaud/Documents/Monprojet/image.jpeg" alt="">
				</div>
			</div>

		</center>

{%endblock%}
</body>
</html>